input {
    padding: .250rem .30rem;
    width: 170px;
}

div#messageError {
    color: red;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

table > caption {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

table > thead > tr > th {
    padding-right: 10px;
}

table > tbody > tr > td {
    text-align: center;
}